<header class="top-header">
  <div class="container">
    <div class="row header-section">
            <div class="col-12">
                  <div class="logo-block">
                     <img src="assets/logo.png" alt="shop" height="40">
                  </div>  <!-- End Logo Block -->
            </div>  <!-- End md 2 -->
      </div>    <!-- End row -->
  </div>    <!-- End container -->
</header>


<div class="container mh">
    <div class="component-div h70">
      <div style="margin-top: 40px;">

        <table class="table">
          <tr *ngFor="let item of data$; let i = index">
             
              <td style="min-width: 160px;"><pre>
                {{ item | json }}
              </pre></td>
              <td><span (click)="removeItem(item.key)" class="btn">Delete</span></td>
              <td><span (click)="editItem(item.key)" class="btn">Edit</span></td>
          </tr>
        </table>

        <div style="margin-top: 10px">
          <input type="text" placeholder="Name" #newmember class="form-control form-control-sm" style="margin-bottom: 20px;">
          <button type="submit" (click)="addItem(newmember.value)" class="btn btn-sm btn-success">Add New Name</button>
        </div>
       
      </div>  <!-- End -->


        
    </div>  <!-- End component-div -->
</div> <!--  End container -->  


<footer>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        &copy; 2020. All rights reserved.
    </div> <!-- End col sm --> 
  </div> <!-- End row -->
</div> <!--  End container --> 
</footer> 